<app-header></app-header>

<div  class="m-auto container goalsContent">
  <h1 class="mb-5 mt-5">Goals</h1>
  <div class="goals">
    <p class="goalsParagraph">

      Bindery Knowledge Group defines itself as a “
      <i>crowd-sourced and crowd-funded consulting and advocacy group that brings the world's socially minded talent together
        to solve our time's most challenging education obstacles. We are a community of thinkers moving communities forward</i>”.
      The main objectives of this company are: <br><br>
      <b>
        • Learning Solutions for the Educational Institution <br> 
        • Learning Solutions for the Non-Profit Organization  <br>
        • Learning Solutions for the Start-Up Company</b> 
      <br><br>
      The Bindery, the official journal, shares the same goals but at the same time has the important task to deliver information
      about the progress that different entrepreneurships have all around the world –thanks to BKG’s assessment- and provide
      articles related to the human narrative. <br><br>
      In order to wake empathy and commitment, writers, journalists and entrepreneurs
      from different parts of the globe are invited to write about their realities, their ideas and their victories. We encourage
      people to write and share their knowledge for others to understand each community, each culture, every part of the
      world. <br><br>
      So, we invite you to share your outlook and your lessons. The Bindery has the mission of transforming the world
      into a space where people can grow to be the best version of themselves as well as the best companions to others.
    </p>

    <span style="font-family: 'Raleway',sans-serif;
color: #1f3c89;font-size: 2rem;">Welcome to The Bindery!</span>

  </div>
  <br/>


</div>


<app-footer></app-footer>
