<div class="news container-fluid">
  <div class="row pb-2 row-1-container">
    <div class="col-xl-5 col-lg-5 col-md-5 pr-1 pl-0 news-1-container" style="height: 100%;background: #eeeeee">
      <div class="position-relative  float-right" style="bottom: 80%">
        <h2 class="news-title position-relative p-4 text-center" style="margin-bottom: 30px; font-size: 1.2rem"></h2>
        <span (click)="goToDetail(newsList[0].id)" class=" read-more float-right  p-1" style="margin-top: 120px;"></span>
      </div>
    </div>
    <div style="height: 100%;" class="row col-xl-4 col-lg-4 col-md-4 pl-1 row-2-container">
      <div class="col-xl-12 col-lg-12 col-md-12 h-50 pl-0 pr-2 pb-1">
        <div class="w-100 h-100 float-right" style="background: #eeeeee">
          <h2 style="font-size: 1.1rem" class="news-title p-2 mt-4"></h2>
          <span (click)="goToDetail(newsList[1].id)" class="read-more float-right p-1 mt-4"></span>
        </div>
      </div>
      <div style="height: 100%;" class="col-xl-12 col-lg-12 col-md-12 h-50 pl-0 pr-2">
        <div class="w-100 h-100 float-right" style="background: #eeeeee">
          <h2 style="font-size: 1.1rem; color: white" class="news-title p-2 mt-4"></h2>
          <span (click)="goToDetail()" class="read-more float-right p-1 mt-4"></span>
      </div>
      </div>
    </div>
    <div style="height: 100%;background: #eeeeee" class="col-xl-3 col-lg-3 col-md-3 p-0 news-4-container">
      <div style="bottom: 80%;" class="position-relative float-right">
        <h2 class="news-title p-4 text-center" style="font-size: 1.2rem;"></h2>
        <span (click)="goToDetail()" class="read-more p-1 float-right" style="margin-top: 135px"></span>
      </div>
    </div>
  </div>
  <div class="row  mb-1 row-3-container" >
    <div  class="h-100 col-xl-3 col-lg-3 col-md-3 pl-0 pr-0 news-5-container" style="background: #eeeeee">
      <div style="bottom: 80%;" class="position-relative float-right pl-5">
        <h2 class="news-title p-3" style="font-size: 1.2rem;"></h2>
        <span (click)="goToDetail()" class="read-more  p-1 float-right" style="margin-top: 59px"></span>
      </div>
     </div>
     <div style="height: 100%;" class="col-xl-4 col-lg-4 col-md-4 row pl-0 row-4-container ">
      <div   class="col-xl-12 col-lg-12 col-md-12 h-50 pl-2 pr-0 pb-1 row-4-container-1">
        <div class="float-left w-100 h-100  pl-2 position-relative" style="background: #eeeeee" >
          <h2 style="font-size: 1.1rem;" class="mt-4 news-title"></h2>
          <span (click)="goToDetail()" class="read-more position-relative float-right p-1"></span>
        </div>
      </div>
      <div class="col-xl-12 col-lg-12 col-md-12 h-50 pl-2 pr-0 row-4-container-2">
        <div class="float-right w-100 h-100  pl-2 position-relative" style="background: #eeeeee">
          <h2 style="font-size: 1.1rem;  color: white" class="news-title mt-4"></h2>
          <span (click)="goToDetail()" class="read-more position-relative float-right p-1 mt-1"></span>
        </div>
      </div>
     </div>
     <div style="height: 100%;" class="col-xl-2 col-lg-2 col-md-2 pr-2 pl-2 what-are-you-bound-to-container">
      <div class="h-100 pl-2 pr-2" style="background: #193078;color: white;">
        <h2  style="font-size: 1.5rem;" class="pt-4 what-are-you-bound-to-title text-uppercase">What are you bound to?</h2>
        <p  style="font-size: 0.8rem;font-family: 'Roboto',sans-serif;">We welcome prospective clients to share their projects with us,
            contributors to submit their original work to publish in The Bindery</p>
       </div>
      </div>
      <div style="height: 100%;" class="row col-xl-3 col-lg-3 col-md-3 p-0 row-5-container">
        <div class="col-xl-12 col-lg-12 col-md-12 h-50 p-0 pb-1">
          <div class=" w-100 float-left h-100 " style="background: #eeeeee">
            <h2 style="font-size: 1.0rem;" class="mt-4 pl-2 news-title"></h2>
            <span (click)="goToDetail()" class="read-more position-relative float-right p-1 mt-1" ></span>
          </div>
        </div>
        <div class="col-xl-12 col-lg-12 col-md-12 h-50 p-0">
           <div class="w-100 h-100 float-right  pl-2" style="background: #eeeeee">
              <h2  style="font-size: 1.0rem; color: white" class="news-title mt-4"></h2>
              <span (click)="goToDetail()" class="read-more position-relative float-right p-1 mt-2" ></span>
            </div>
        </div>
       </div>
  </div>
</div>


