<div class="header container-fluid">
    <div class="logo">
        <img class="w-50 mx-auto d-block" src="assets/images/thebindrylogopng.png" />
    </div>
    <div class="thebinderyhome">
        <div class="dropdown">
                <img src="assets/images/menu-button-of-three-horizontal-lines.png" alt="" style="position: relative;top: 20px;left: 15px;height: 50px;">
            <div class="dropdown-content">
                <div  id='linkHome'>
                    <a routerLink="/home"><img  style="height: 25px;" src='assets/images/home-white.png' /></a>
                </div>
                <div id='linkBKG'>
                    <a href="https://www.binderyknowledgegroup.com/" target="_blank">BKG</a>
                </div>
                <div id='linkGoals'>
                    <a routerLink="/goals">Goals</a>
                </div>
                <div id='linkCorreo'>
                    <a href="https://josh@binderyknowledgegroup.com" target="_blank">
                        <img src='assets/images/icono-mail.png' />
                    </a>
                </div>
                <div id='linkRedesSociales'>
                    <a href="https://www.facebook.com/thebinderyknowledgegroup/" target="_blank">
                        <img src='assets/images/icono-facebook.png' />
                    </a>
                    <a href="#">
                        <img src='assets/images/link-instagram.png' />
                    </a>
                    <div class='triangulo_bottom_right'></div>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light" style="padding: 0px;height: 65px;border: #17ddc3 2px solid;">
        <div style="height: 100%" class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul style="height: 65px;position: relative;top: 2px;width: 60%;" class="m-auto navbar-nav mr-auto">
                <li class="nav-item active">
                    <a style="border-right: 1px solid #e3dfdf;" class="nav-link" href="/home">
                        <img style="height: 25px;" src="assets/images/home.png" alt="">
                    </a>
                </li>
                <li class="menu-item nav-item">
                    <a style="border-right: 1px solid #e3dfdf;" class="nav-link" href="https://www.binderyknowledgegroup.com/" target="_blank">BKG</a>
                </li>
                <li class="menu-item nav-item">
                    <a style="border-right: 1px solid #e3dfdf;" class="nav-link" routerLink="/goals">Goals</a>
                </li>
                <li class="menu-item nav-item">
                    <a style="border-right: 1px solid #e3dfdf;" class="nav-link disabled" href="mailto:josh@binderyknowledgegroup.com" target="_top">
                        <img style="height: 25px;" src="assets/images/close-envelope.png" alt="">
                    </a>
                </li>
                <li class="menu-item nav-item">
                    <a style="border-right: 1px solid #e3dfdf;" class="nav-link disabled" href="https://www.facebook.com/thebinderyknowledgegroup/"
                        target="_blank">
                        <img style="height: 25px;" src="assets/images/facebook-logo-button.png" alt="">
                    </a>
                </li>
                <li class="menu-item nav-item">
                    <a style="border-right: 1px solid #e3dfdf;" class="nav-link disabled" href="https://www.instagram.com/thebinderyorg" target="_blank">
                        <img style="height: 25px;" src="assets/images/link-instagram.png" alt="">
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>