<div class="header container-fluid">
  <div  class="logo">
      <img class="w-50 mx-auto d-block" src="assets/images/thebindrylogopng.png"/>
  </div>
  <div class="thebinderyhome">
      <div class="dropdown">
          <span>The<br/>Bindery<br/></span>
          <div class='triangulo_bottom_left'></div>
          <div class="dropdown-content">
          <div id='linkBKG'>
              <a href="https://www.binderyknowledgegroup.com/" target="_blank">BKG</a>
          </div>
          <div id='linkCorreo'>
              <a href="https://josh@binderyknowledgegroup.com" target="_blank"><img src='assets/images/icono-mail.png'/></a>
          </div>
          <div id='linkDonate'>
              <a href="https://secure.squarespace.com/checkout/donate?donatePageId=599c5d477131a567ce8372f3" target="_blank">Donate</a>
          </div>
          <div id='linkRedesSociales'>
              <a href="https://www.facebook.com/thebinderyknowledgegroup/" target="_blank"><img src='assets/images/icono-facebook.png'/></a>
              <a href="#"><img src='assets/images/link-instagram.png'/></a>
          <div class='triangulo_bottom_right'></div>
          </div>
       </div>
      </div>

  </div>
</div>
