
<app-header></app-header>
<div class="news-content container-fluid">
<div class="row news-row">
<div class="p-5 col-9">
  <div class="float-right news-elements">
 <span class="p-2 section" style="background: #17d9c2">Editorial</span>
 <span class="date pl-2">SAT 4TH 2018</span>
 <h1 class="mt-5">Knowledge Hacks - Discovery Ratio 2:4 </h1>
 <div class="mt-4 author">
 <span class="pr-1">Written by</span>
 <span>Gonzalo Scarramberg</span>
</div>
<p class="news-content mt-5">
Stephen Hawking studied physics to understand the universe.
  If there is anything to extract from this piece, it is that very sentence. Stephen Hawking studied physics to understand the universe. Before dissecting the Discovery Ratio, first I would like to provide some context to what I am getting at and why I am using ambiguity to hang on for dear life to your attention.
There are innumerable reasons that I, and millions of others, admire the late Stephen Hawking. Some of my reasons are his lifetime commitment to his study, needless to say, his unrelenting perseverance and his approach to taking highly technical concepts from his field and effectively democratizing them with the broader population. Recently, I came across a copy of his autobiography "My Brief History." Apart from a humorous and intimate account of his life and work, the reader is granted entry into the genius mind of Hawking as well as the motives and meaning behind his devotion to the field. It can be concluded, as it is said in several different combinations of words, Stephen Hawking studied physics as a means to understand the broader complexities of the universe.
</p>
</div>
</div>
<div class="col-3 aside">
    <aside class="side-bar float-right mb-3" >
        <h5 class="p-3">Next chapter</h5>
        <div class="p-4 mt-2">
          <h6 class="mb-3 pb-5 border-bottom border-white">The Trojan horse of fashion industry</h6>
          <h6 class="mb-1 pb-5 border-bottom border-white">The Trojan horse of fashion industry</h6>
          <h6 class="mt-3">The Trojan horse of fashion industry</h6>
        </div>
      </aside>
</div>
</div>
</div>
<app-footer></app-footer>






