
<app-header></app-header>
<div class="news-content container-fluid">
<div class="row news-row">
<div class="p-5 col-9">
  <div class="float-right news-elements">
 <span class="p-2 section" style="background: #17d9c2"></span>
 <span class="date pl-2"></span>
 <h1 class="mt-5 title"></h1>
 <div class="mt-4 author">
 <span class="pr-1">Written by</span>
 <span id="author"></span>
</div>
<p id="contentParagraph" class="news-content mt-5">
</p>
</div>
</div>
<div class="col-3 aside">
    <aside class="side-bar float-right mb-3 w-100" >
        <h5 class="p-3">Next chapter</h5>
        <div class="p-4 mt-2 ">
          <h6 (click)="goToAsideNewsDetail(1)" style="cursor: pointer;" id="aside-1" class="mb-3 pb-5 border-bottom border-white">The Trojan horse of fashion industry</h6>
          <h6 (click)="goToAsideNewsDetail(2)" style="cursor: pointer;" id="aside-2" class="mb-1 pb-5 border-bottom border-white">The Trojan horse of fashion industry</h6>
          <h6 (click)="goToAsideNewsDetail(3)" style="cursor: pointer;" id="aside-3" class="mt-3">The Trojan horse of fashion industry</h6>
        </div>
      </aside>
</div>
</div>
</div>
<app-footer></app-footer>






