.dateAndSection div {
  padding-left: 0px!important;
}

::ng-deep .ui-dialog {
  position: fixed;
  z-index: 1000 !important; /* TODO: primeng: temporary fix for 5.2.1 bug #5271 */

}

.modalContent h3{
  font-family: 'Raleway', sans-serif;
  color: white;
}

.modalContent p {
    color: white;
    font-family: 'Roboto', sans-serif;
}