<div class="footer container-fluid mb-2">
  <div class="w-100 h-100 footer-content" style="height: 135px; background-color: #19d7c2">
    <div class="row w-100">
    <div class="public-knowledge-radio float-left col-4">
      <div class="border border-2 border-dark h-100 mt-2 ml-2">
        <h2 class="pl-2" style="font-size: 1.8rem;">Bound: Public Knowledge Radio</h2>
        <a href="https://www.binderyknowledgegroup.com/listen-bound/" target="_blank"><span class="float-right p-1">Listen now >>></span></a>
      </div>
    </div>
    <div class="soundcloud-logo float-left col-2">
        <a href="https://soundcloud.com/bound-public-knowledge-radio" target="_blank"><img class="mt-4 w-50 h-75" src="assets/images/logoSoundcloud.png" alt=""></a>
      </div>
      <div class="the-bindery-title  col-5 ml-5">
        <div class="float-right mt-3">
          <h1>The Bindery</h1>
          <span>Copyright © 2010 by The Bindery. All rights reserved.</span>
        </div>
        </div>
  </div>
  </div>
</div>
