<app-header></app-header>
<main role="main" class="container-fluid mb-3">
  <div class="row"  style="width: 100%">
  <aside class="side-bar col-2">
      <div class="p-4 mt-4">
        <div class="mb-3  creator-options">
        <button class="btn btn-primary p-3" id="news-list" (click)="setToNewsList()">News</button>
      </div>
      <div class="mb-1 creator-options">
        <button class="btn btn-primary p-3" id="events-list" (click)="setToEventsList()">Events</button>
      </div>
      <div class="mt-3 creator-options">
        <button class="btn btn-primary p-3" id="gallery-images-list" (click)="setToGalleryImagesList()">Images</button>
      </div>
      </div>
    </aside>



    <div *ngIf="eventsList || galleryImagesList || newsList"  class="col-8">
      <app-event-list (editEvent)="goToEditEvent($event)" *ngIf="eventsList"></app-event-list>
      <app-gallery-image-list (editGalleryImage)="goToEditImageGallery($event)" *ngIf="galleryImagesList"></app-gallery-image-list>
      <app-news-list (editNews)="goToEditNews($event)" *ngIf="newsList"></app-news-list>
    </div>


    <div *ngIf="newEvent || newGalleryImage || newNews " class="col-8">
      <app-event-create (goBack)="backFromEvent($event)"  *ngIf="newEvent"></app-event-create>
      <app-gallery-image-create (goBack)="backFromGalleryImage($event)"  *ngIf="newGalleryImage"></app-gallery-image-create>
      <app-news-create (goBack)="backFromNews($event)" *ngIf="newNews"></app-news-create>
    </div>

    <div *ngIf= "editEvent || editGalleryImage || editNews" class="col-8">
      <app-event-edit [eventId]="contentId" (goBack)="backFromEvent($event)"  *ngIf="editEvent"></app-event-edit>
      <app-gallery-image-edit [galleryImageId]="contentId" (goBack)="backFromGalleryImage($event)"  *ngIf="editGalleryImage"></app-gallery-image-edit>
      <app-news-edit [newsId]="contentId" (goBack)="backFromNews($event)" *ngIf="editNews"></app-news-edit>
    </div>



    <aside class="side-bar col-2">
        <div class="p-4 mt-4">
          <div *ngIf="eventsList || galleryImagesList || newsList" class="mb-3  creator-options">
          <button class="btn btn-primary p-3 mb-5" id="button-new" (click)="setRoute()">New Content</button>
        </div>
        </div>
      </aside>

  </div>
</main>

